name: dependabot
"on":
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - labeled
jobs:
  tf-provider-label:
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' && contains(github.event.labels, 'dependencies') && contains(github.event.labels, 'terraform') }}
    runs-on: ubuntu-latest
    steps:
      - id: metadata
        name: 'dependabot: metadata'
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: label
        env:
          GH_TOKEN: ${{ secrets.DEPENDABOT_GITHUB }}
        run: |-
          export dep_name="${{ steps.metadata.outputs.dependency-names }}"
          export label="provider:$(basename $dep_name)"
          echo "Setting label $label"
          gh pr edit "${{ github.event.pull_request.html_url }}" --add-label "$label"
